{% extends 'base.html' %}

{% import 'ledger/macros/util.html' as util %}

{% block content %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-purple">
                    <i class="fa fa-money"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Outstanding</span>
                    <span class="info-box-number">
                        {{ util.currency(20, false) }}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
