{% extends 'base.html' %}

{% import 'business/macros/invoice.html' as invoice %}
{% import 'macros/ui.html' as ui %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% set edit = ui.button(title='Edit', icon='pencil', url=url('business:edit_client', kwargs={'id': client.id})) %}
            {% set delete = ui.button(title='Delete', icon='trash', url=url('business:delete_client', kwargs={'id': client.id})) %}
            {% call ui.box(title='Client Information', icon='users', buttons=(edit, delete)) %}
                <p>Detailed information for the client is displayed below.</p>
                <table class="table no-margin">
                    <tr>
                        <th>Name:</th>
                        <td>{{ client.name }}</td>
                    </tr>
                    <tr>
                        <th>Contact:</th>
                        <td>
                            {% if client.contact %}
                                {{ client.contact }}
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    <tr>
                        <th>Email:</th>
                        <td>
                            {% if client.email %}
                                <a href="mailto:{{ client.email }}">
                                    {{ client.email }}
                                </a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>
                            {% if client.address %}
                                {{ linebreaksbr(client.address) }}
                                <br><br>
                                <a href="http://maps.google.com/?q={{ client.address|urlencode }}">
                                    View in map
                                </a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            {% endcall %}
        </div>
        <div class="col-md-6">
            {% set new = ui.button(title='New Invoice', icon='plus', url="{}?client={}".format(url('business:new_invoice'), client.id)) %}
            {{ invoice.list(client.invoices.all(), buttons=(new,)) }}
        </div>
    </div>
{% endblock %}
