<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ title }} &middot; Numbles</title>

        <link href="{{ static('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ static('css/AdminLTE.min.css') }}" rel="stylesheet">
        <link href="{{ static('css/skin-purple.min.css') }}" rel="stylesheet">
        <link href="{{ static('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ static('css/global.css') }}" rel="stylesheet">

        <link href="{{ static('img/favicon.ico') }}" rel="icon">
    </head>
    <body class="skin-purple">

        {# The login form should not display the navbar, sidebar, or footer and
           should not contain any content wrapper classes #}
        {% if not fullscreen %}
            <div class="wrapper">
                {% include 'fragments/navbar.html' %}
                <div class="main-sidebar">
                    <div class="sidebar">
                        {% include 'fragments/sidebar/user.html' %}
                        {% include 'fragments/sidebar/search.html' %}
                        {% include 'fragments/sidebar/transactions.html' %}
                        {% include 'fragments/sidebar/accounts.html' %}
                        {% include 'fragments/sidebar/tags.html' %}
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="content-header">
                        <h1>{{ title }}</h1>
                        {% include 'fragments/breadcrumbs.html' %}
                    </div>
        {% endif %}
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
        {% if not fullscreen %}
                </div>
                {% include 'fragments/footer.html' %}
            </div>
        {% endif %}

        <script src="{{ static('js/jquery.min.js') }}"></script>
        <script src="{{ static('js/bootstrap.min.js') }}"></script>
        <script src="{{ static('js/highcharts.min.js') }}"></script>
        <script src="{{ static('js/app.min.js') }}"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
