/**
 * Global Style Declarations
 * Copyright 2015 - Nathan Osman
 */

/* Ensure ALL pages have the grey BG */
body {
    background-color: #ecf0f5;
}

/* Assign a much more reasonable size to icons in .small-box */
.small-box h3 { font-size: 32px; margin-bottom: 0; }
.small-box p { margin-bottom: 0; }
.small-box .icon { font-size: 48px; top: 0; }
.small-box:hover .icon { font-size: 56px; }

/* Make tags look fancy */
.tag { border-radius: 3px; color: white; margin-right: 4px; padding: 0 8px; }

/* Correct the color of danger in help blocks */
.help-block.text-danger { color: #a94442 }

/* Toggle for reconciled */
.toggle { cursor: pointer; }
