/**
 * Bootstrap Style Overrides
 */

#page-wrapper {
    padding-top: 10px;
}

.morris {
    max-height: 300px;
}

.page-header {
    margin: 10px 0 40px;
}

.panel-body h3:first-child {
    margin: 0;
}
