{##
 # Account links
 #
 # The list of accounts provides an easy way to jump to the transaction list
 # for an account.
 #}

<ul class="sidebar-menu">
    <li class="header">Top Accounts</li>
    {% for account in request.user.accounts.filter(active=True)[:5] %}
        <li>
            <a href="{{ account.get_absolute_url() }}">
                <span class="fa fa-bank"></span>
                {{ account }}
            </a>
        </li>
    {% endfor %}
    <li>
        <a href="{{ url('ledger:new_account') }}">
            <span class="fa fa-plus"></span>
            New Account
        </a>
    </li>
</ul>
