{##
 # Transaction links
 #
 # The list of links provided in this fragment provides the ability to add a
 # new transaction or transfer money between accounts.
 #}

<ul class="sidebar-menu">
    <li class="header">Transactions</li>
    <li>
        {% set n = now() %}
        <a href="{{ url('ledger:view_month', args=(n.year, n.month)) }}">
            <span class="fa fa-list"></span>
            View Transactions
        </a>
    </li>
    <li>
        <a href="{{ url('ledger:transfer') }}">
            <span class="fa fa-refresh"></span>
            Transfer Between Accounts
        </a>
    </li>
    <li>
        <a href="{{ url('ledger:new_transaction') }}">
            <span class="fa fa-plus"></span>
            New Transaction
        </a>
    </li>
</ul>
