<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ title }} &middot; Numbles</title>

        {% load static %}
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/AdminLTE.min.css" %}" rel="stylesheet">
        <link href="{% static "css/skin-purple.min.css" %}" rel="stylesheet">
        <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">

        {# Any additional styles/tags for <head> are added here #}
        {% block extrahead %}{% endblock %}
    </head>
    <body class="skin-purple">
        {% if not fullscreen %}
            <div class="wrapper">
                {% include "components/navbar.html" %}
                {% include "components/sidebar.html" %}

                <div class="content-wrapper">

                    <!-- Page title -->
                    <div class="content-header">
                        <h1>{{ title }}</h1>
                        {% include "components/breadcrumbs.html" %}
                    </div>
        {% endif %}

                    <!-- Page content -->
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>

        {% if not fullscreen %}
                </div>

                {% include "components/footer.html" %}
            </div>
        {% endif %}

        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/app.min.js" %}"></script>

        {# Any additional scripts are added here #}
        {% block extrafoot %}{% endblock %}
    </body>
</html>
