{% extends "base.html" %}
{% load ledger %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            {% include "ledger/account_list.html" %}
        </div>
        <div class="col-sm-6">
            {% with box_title="Recent Transactions" balance_hidden="true" %}
                {% include "ledger/transaction_list.html" %}
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block extrafoot %}
    <script>
        Morris.Donut({
            element: 'income-by-account',
            data: [
                {% for account in accounts %}
                    {% if forloop.counter0 %},{% endif %}
                    { value: {{ account.balance }}, label: '{{ account|escapejs }}' }
                {% endfor %}
            ],
            formatter: function(x) { return '$' + x; }
        });
        Morris.Bar({
            element: 'income-by-year',
            data: [
                {% for year in years %}
                    {% if forloop.counter0 %},{% endif %}
                    { x: "{{ year.year }}", y: {{ year.sum }} }
                {% endfor %}
            ],
            xkey: 'x',
            ykeys: ['y'],
            labels: ['Balance'],
            hideHover: true,
            hoverCallback: function(index, options, content, row) {
                return '<strong>' + row.x + '</strong><br>$' + row.y;
            }
        });
    </script>
{% endblock %}
