{% extends "base.html" %}
{% load ledger %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            {% include "ledger/account_list.html" %}
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Current Balance</h3>
                </div>
                <div class="panel-body">
                    <h3>{{ user.total.balance|currency }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Balance by Account</h3>
                        </div>
                        <div class="panel-body">
                            <div id="income-by-account"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Balance by Year</h3>
                        </div>
                        <div class="panel-body">
                            <div id="income-by-year"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrafoot %}
    <script>
        Morris.Donut({
            element: 'income-by-account',
            data: [
                {% for account in accounts %}
                    {% if forloop.counter0 %},{% endif %}
                    { value: {{ account.balance }}, label: '{{ account|escapejs }}' }
                {% endfor %}
            ],
            formatter: function(x) { return '$' + x; }
        });
        Morris.Bar({
            element: 'income-by-year',
            data: [
                {% for year in years %}
                    {% if forloop.counter0 %},{% endif %}
                    { x: "{{ year.year }}", y: {{ year.sum }} }
                {% endfor %}
            ],
            xkey: 'x',
            ykeys: ['y'],
            labels: ['Balance'],
            hideHover: true,
            hoverCallback: function(index, options, content, row) {
                return '<strong>' + row.x + '</strong><br>$' + row.y;
            }
        });
    </script>
{% endblock %}
