{% import 'ledger/macros/util.html' as util %}
{% import 'macros/ui.html' as ui %}

{##
 # Display a list of accounts
 #   accounts - list or QuerySet of accounts
 #   title - text to display in the box header
 #   fields - list of fields to display
 #}
{% macro list(accounts, title='Accounts', fields=('name', 'balance')) %}
    {% set new = ui.button(title='New Account', icon='plus', url=url('ledger:new_account')) %}
    {% call ui.box(title=title, icon='bank', buttons=(new,)) %}
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        {% for f in fields %}
                            {% if f == 'name' %}
                                <th>Name</th>
                            {% elif f == 'balance' %}
                                <th class="text-right">Balance</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for a in accounts %}
                        <tr>
                            {% for f in fields %}
                                {% if f == 'name' %}
                                    <td>
                                        <a href="{{ a.get_absolute_url() }}">
                                            {{ a.name }}
                                        </a>
                                    </td>
                                {% elif f == 'balance' %}
                                    <td class="text-right">{{ util.currency(a.balance) }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="{{ fields|length }}">
                                No accounts matched
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endcall %}
{% endmacro %}
