{% import 'ledger/macros/util.html' as util %}
{% import 'macros/ui.html' as ui %}

{% set sort_fields = ('date', 'account', 'summary', 'reconciled', 'amount') %}
{% set sort_orders = ('asc', 'desc') %}

{% set def_sort_field = 'date' %}
{% set def_sort_order = 'asc' %}

{% set new = ui.button(title='New Transaction', icon='plus', url=url('ledger:new_transaction')) %}

{##
 # Display table header.
 #   fields - list of fields to display
 #   request - request object
 #   sortable - enable sorting
 #   sf - sort field (if applicable)
 #   so - sort order (if applicable)
 #}
{% macro _header(fields, request, sortable, sf, so) %}
    <tr>
        {% for f in fields %}
            {% if f == 'reconciled' %}
                <th data-col="{{ f }}" class="text-center">
            {% elif f in ('amount', 'balance') %}
                <th data-col="{{ f }}" class="text-right">
            {% else %}
                <th data-col="{{ f }}">
            {% endif %}
            {% if sortable and f in sort_fields %}
                {% set o = 'desc' if sf == f and so == 'asc' else 'asc' %}
                <a href="{{ request.path }}?{{ qs(request, sort=f, order=o) }}">
            {% endif %}
            {{ f|title }}
            {% if sortable %}
                {% if sf == f %}
                    {% if so == 'asc' %}
                        <span class="fa fa-sort-desc"></span>
                    {% else %}
                        <span class="fa fa-sort-asc"></span>
                    {% endif %}
                {% endif %}
                </a>
            {% endif %}
            </th>
        {% endfor %}
    </tr>
{% endmacro %}

{##
 # Display balance forward row.
 #   fields - list of fields to display
 #   balance - starting balance
 #}
{% macro _balance(fields, balance) %}
    <tr>
        {% for f in fields %}
            {% if loop.first %}
                <td data-col="{{ f }}">Balance Forward</td>
            {% elif f == 'balance' %}
                <td data-col="{{ f }}" class="text-right">
                    {{ util.currency(balance) }}
                </td>
            {% else %}
                <td data-col="{{ f }}"></td>
            {% endif %}
        {% endfor %}
    </tr>
{% endmacro %}

{##
 # Display a toggle for the reconciled field of a transaction
 #   transaction - transaction to toggle
 #}
{% macro _toggle(transaction) %}
    <span title="click to toggle"
          data-id="{{ transaction.id }}"
          class="toggle fa {% if transaction['reconciled'] %}fa-check text-success{% else %}fa-times text-danger{% endif %}"></span>
{% endmacro %}

{##
 # Display table data.
 #   fields - list of fields to display
 #   transactions - list or QuerySet of transactions
 #   balance - starting balance
 #}
{% macro _data(fields, transactions, balance) %}
    {% set accumulator = [balance or 0] %}
    {% for t in transactions %}
        <tr>
            {% for f in fields %}
                {% if f == 'date' %}
                    <td data-col="{{ f }}" class="text-nowrap">
                        {{ localtime(t[f]) }}
                    </td>
                {% elif f == 'account' %}
                    <td data-col="{{ f }}">
                        <a href="{{ t.account.get_absolute_url() }}">
                            {{ t.account }}
                        </a>
                    </td>
                {% elif f == 'summary' %}
                    <td data-col="{{ f }}">
                        <a href="{{ t.get_absolute_url() }}">
                            {{ t.summary }}
                        </a>
                    </td>
                {% elif f == 'tags' %}
                    <td data-col="{{ f }}">
                        {% for tag in t.tags.all() %}
                            {{ util.tag(tag) }}
                        {% else %}
                            <span class="text-muted">
                                none
                            </span>
                        {% endfor %}
                    </td>
                {% elif f == 'reconciled' %}
                    <td data-col="{{ f }}" class="text-center">
                        {{ _toggle(t) }}
                    </td>
                {% elif f == 'amount' %}
                    <td data-col="{{ f }}" class="text-right">
                        {{ util.currency(t.amount) }}
                    </td>
                {% elif f == 'balance' %}
                    {# Special workaround to accumulate a value #}
                    {% if accumulator.append(accumulator.pop() + t.amount) %}{% endif %}
                    <td data-col="{{ f }}" class="text-right">
                        {{ util.currency(accumulator[-1]) }}
                    </td>
                {% else %}
                    <td data-col="{{ f }}">{{ t[f] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ fields|length }}">
                <span class="text-muted">
                    No transactions matched
                </span>
            </td>
        </tr>
    {% endfor %}
{% endmacro %}

{##
 # Display a list of transactions
 #   transactions - list or QuerySet of transactions
 #   title - text to display in the box header
 #   fields - list of fields to display
 #   buttons - list of buttons to display
 #   balance - starting balance (none to hide balance forward)
 #   request - required for sorting and/or pagination
 #   sortable - enable sorting
 #   paginated - enable pagination
 #}
{% macro list(transactions, title='Transactions', fields=('date', 'summary', 'reconciled', 'amount', 'balance'), buttons=(new,), balance=none, request=none, sortable=false, paginated=false) %}
    {% if sortable %}
        {% set sf = request.GET.get('sort', def_sort_field) %}
        {% if sf not in sort_fields %}
            {% set sf = def_sort_field %}
        {% endif %}
        {% set so = request.GET.get('order', def_sort_order) %}
        {% if so not in sort_orders %}
            {% set so = def_sort_order %}
        {% endif %}
        {% if so == 'asc' %}
            {% set transactions = transactions.order_by(sf) %}
        {% else %}
            {% set transactions = transactions.order_by("-{}".format(sf)) %}
        {% endif %}
    {% endif %}
    {% if paginated %}
        {% set page = request.GET.get('page', 1) %}
        {% set transactions = paginate(transactions, page) %}
        {% if transactions.paginator.num_pages > 1 %}
            {% set title = '{} - Page {} of {}'.format(title, transactions.number, transactions.paginator.num_pages) %}
        {% endif %}
        {% set buttons = [] %}
        {% if transactions.has_previous() %}
            {% do buttons.append(ui.button(title='Previous Page', icon='arrow-left', url='{}?{}'.format(request.path, qs(request, page=transactions.previous_page_number())))) %}
        {% endif %}
        {% if transactions.has_next() %}
            {% do buttons.append(ui.button(title='Next Page', icon='arrow-right', url='{}?{}'.format(request.path, qs(request, page=transactions.next_page_number())), right=true, icon_right=true)) %}
        {% endif %}
    {% endif %}
    {% call ui.box(title=title, icon='credit-card', buttons=buttons) %}
        <div class="table-responsive">
            <table class="table no-margin transactions">
                <thead>
                    {{ _header(fields, request, sortable, sf|d, so|d) }}
                </thead>
                <tbody>
                    {% if balance is not none %}
                        {{ _balance(fields, balance) }}
                    {% endif %}
                    {{ _data(fields, transactions, balance) }}
                </tbody>
            </table>
        </div>
    {% endcall %}
{% endmacro %}
