{% import 'ledger/macros/util.html' as util %}
{% import 'macros/ui.html' as ui %}

{##
 # Display a list of transactions
 #   transactions - list or QuerySet of transactions
 #   title - text to display in the box header
 #   fields - list of fields to display
 #}
{% macro list(transactions, title='Transactions', fields=('date', 'summary', 'reconciled', 'amount', 'balance')) %}
    {% set add = ui.button(title='Add Transaction', icon='plus', url=url('ledger:add_transaction')) %}
    {% call ui.box(title=title, icon='credit-card', buttons=(add,)) %}
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        {% for f in fields %}
                            {% if f == 'date' %}
                                <th>Date / Time</th>
                            {% elif f == 'account' %}
                                <th>Account</th>
                            {% elif f == 'summary' %}
                                <th>Summary</th>
                            {% elif f == 'reconciled' %}
                                <th class="text-center">Reconciled?</th>
                            {% elif f == 'amount' %}
                                <th class="text-right">Amount</th>
                            {% elif f == 'balance' %}
                                <th class="text-right">Balance</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for t in transactions %}
                        <tr>
                            {% for f in fields %}
                                {% if f == 'date' %}
                                    <td>{{ t.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                {% elif f == 'account' %}
                                    <td>
                                        <a href="{{ t.account.get_absolute_url() }}">
                                            {{ t.account }}
                                        </a>
                                    </td>
                                {% elif f == 'summary' %}
                                    <td>
                                        <a href="{{ t.get_absolute_url() }}">
                                            {{ t.summary }}
                                        </a>
                                    </td>
                                {% elif f == 'reconciled' %}
                                    <td class="text-center">
                                        {% if t.reconciled %}
                                            <span class="fa fa-check text-success"></span>
                                        {% else %}
                                            <span class="fa fa-times text-danger"></span>
                                        {% endif %}
                                    </td>
                                {% elif f == 'amount' %}
                                    <td class="text-right">{{ util.currency(t.amount) }}</td>
                                {% elif f == 'balance' %}
                                    <td class="text-right">[TODO]</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="{{ fields|length }}">
                                No accounts matched
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endcall %}
{% endmacro %}
