{##
 # Format a decimal value as currency.
 #   value - decimal to format
 #   color - true to display values in color
 #}
{% macro currency(value, color=true) %}
    {% if color and value < 0 %}
        <span class="text-danger text-nowrap">-
    {% elif color and value > 0 %}
        <span class="text-success">
    {% endif %}
    {{ '${:,}'.format(value|abs) }}
    {% if color and value != 0 %}
        </span>
    {% endif %}
{% endmacro %}

{##
 # Display a tag.
 #   tag - tag to display
 #}
{% macro tag(tag) %}
    <a href="{{ url('ledger:find_transaction') }}?tag={{ tag.id }}" class="tag" style="background-color: {{ tag.color }}">
        {{ tag }}
    </a>
{% endmacro %}
