{% load ledger %}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fa fa-bank"></i>
            Accounts
        </h3>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-right">Latest Transaction</th>
                        <th class="text-right">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                        <tr>
                            <td>
                                <a href="{{ account.get_absolute_url }}">
                                    {{ account }}
                                </a>
                            </td>
                            <td class="text-right">
                                {% with account.transactions.all.last as transaction %}
                                    {% if transaction %}
                                        {{ transaction.date|timesince }} ago
                                    {% else %}
                                        <span class="text-muted">No transactions</span>
                                    {% endif %}
                                {% endwith %}
                            </td>
                            <td class="text-right">{{ account.balance|currency }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="text-center text-muted">
                                No accounts match the search criteria.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="box-footer clearfix">
        <a href="{% url "ledger:add_account" %}" class="btn btn-sm btn-default btn-flat">
            <i class="fa fa-plus"></i>
            Add Account
        </a>
        <a href="{% url "ledger:transfer" %}" class="btn btn-sm btn-default btn-flat">
            <i class="fa fa-refresh"></i>
            Transfer Between Accounts
        </a>
    </div>
</div>
