{% load ledger %}

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th class="text-right">Last Transaction</th>
        <th class="text-right">Balance</th>
    </tr>
    {% for account in accounts %}
        <tr>
            <td>
                <a href="{{ account.get_absolute_url }}">
                    {{ account }}
                </a>
            </td>
            <td class="text-right">
                {% with account.transactions.all.last as transaction %}
                    {% if transaction %}
                        {{ transaction.date|timesince }} ago
                    {% else %}
                        <span class="text-muted">No transactions</span>
                    {% endif %}
                {% endwith %}
            </td>
            <td class="text-right">{{ account.balance|currency }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5" class="text-center text-muted">
                No accounts match the search criteria.
            </td>
        </tr>
    {% endfor %}
</table>
