{% load ledger %}

{% comment %}
    Display a list of transactions according to the following variables:
      * "box_title" - the title displayed in the info box
      * "hide_add" - true to hide the "add transaction" button
      * "hide_balance" - true to hide the balance column
    Any or all of these may be unset to obtain default behavior
{% endcomment %}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fa fa-credit-card"></i>
            {{ box_title|default:"Transactions" }}
        </h3>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>Date / Time</th>
                        <th>Summary</th>
                        <th class="text-center">Reconciled?</th>
                        <th class="text-right">Amount</th>
                        {% if not hide_balance %}
                            <th class="text-right">Balance</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.date }}</td>
                            <td>
                                <a href="{{ transaction.get_absolute_url }}">
                                    {{ transaction.summary }}
                                </a>
                            </td>
                            <td class="text-center">
                                {% if transaction.reconciled %}
                                    <span class="glyphicon glyphicon-ok text-success"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-remove"></span>
                                {% endif %}
                            </td>
                            <td class="text-right">{{ transaction.amount|currency }}</td>
                            {% if not hide_balance %}
                                <td class="text-right">{% accumulate "balance" transaction.amount %}</td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="{% if hide_balance %}4{% else %}5{% endif %}" class="text-center text-muted">
                                No transactions match the search criteria.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if not hide_add %}
        <div class="box-footer clearfix">
            <a href="{% url "ledger:add_transaction" %}" class="btn btn-sm btn-default btn-flat">
                <i class="fa fa-plus"></i>
                Add Transaction
            </a>
        </div>
    {% endif %}
</div>
