{% load ledger %}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fa fa-info-circle"></i>
            Details
        </h3>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>Account:</th>
                        <th>
                            <a href="{{ transaction.account.get_absolute_url }}">
                                {{ transaction.account }}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Amount:</th>
                        <td>{{ transaction.amount|currency }}</td>
                    </tr>
                    <tr>
                        <th>Date:</th>
                        <td>
                            {{ transaction.date }}
                            <span class="text-muted">
                                &mdash; {{ transaction.date|timesince }} ago
                            </span>
                        </td>
                    </tr>
                    {% if transaction.description %}
                        <tr>
                            <th>Description:</th>
                            <td>{{ transaction.description|linebreaksbr }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Linked:</th>
                        <td>
                            {% if transaction.linked %}
                                <a href="{{ transaction.linked.get_absolute_url }}">
                                    {{ transaction.linked }}
                                </a>
                            {% else %}
                                <span class="text-muted">
                                    No linked transaction
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Reconciled:</th>
                        <td>
                            {% if transaction.reconciled %}
                                <span class="text-success">Yes</span>
                            {% else %}
                                No
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
