{% extends "base.html" %}
{% load ledger %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            {% include "ledger/transaction_details.html" %}
        </div>
        <div class="col-sm-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-wrench"></i>
                        Tools
                    </h3>
                </div>
                <div class="box-body">
                    <p class="text-muted">
                        Use the tools below to make changes to this transaction.
                    </p>
                </div>
                <div class="box-footer">
                    <a href="{% url "ledger:edit_transaction" transaction.id %}" class="btn btn-primary">
                        <span class="fa fa-edit"></span>
                        Edit
                    </a>
                    <a href="{% url "ledger:delete_transaction" transaction.id %}" class="btn btn-danger">
                        <span class="fa fa-trash"></span>
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
