{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h1 class="page-header">{{ account }}</h1>
            <p class="text-muted">
                Transactions for this account are listed below.
                Click on a transaction to view details or make changes.
            </p>
            <br>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Date / Time</th>
                    <th>Summary</th>
                    <th class="text-center">Reconciled?</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right">Balance</th>
                </tr>
                {% for transaction in account.transactions.all %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>
                            <a href="{{ transaction.get_absolute_url }}">
                                {{ transaction.summary }}
                            </a>
                        </td>
                        <td class="text-center">
                            {% if transaction.reconciled %}
                                <span class="glyphicon glyphicon-ok text-success"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                        </td>
                        <td class="text-right">{{ transaction.amount_formatted }}</td>
                        <td class="text-right">-</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
