{% extends "base.html" %}
{% load ledger %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% include "ledger/transaction_list.html" %}
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Account Balance:</p>
                    <h3>{{ account.balance|currency }}</h3>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Account Tools</h3>
                </div>
                <div class="panel-body">
                    <p class="text-muted">
                        Use the tools below to make changes to this account.
                    </p>
                    <br>
                    <p>
                        <a href="{% url "ledger:edit_account" account.id %}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span>
                            Edit
                        </a>
                        <a href="{% url "ledger:delete_account" account.id %}" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                            Delete
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
