{% load ledger %}

{% comment %}
    Display a list of statistics in large colored boxes that provide
    information about the user's accounts and transactions. Only the current
    balance is displayed on XS screens.

    The following template variables are expected to be provided:
      * `stats` - a dict with the following keys:
          * `total_accounts` - total number of accounts owned by the user
          * `total_transactions` - total number of transactions owned by the user
{% endcomment %}

<div class="row">
    <div class="col-sm-4 col-xs-12">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{{ user.total|currency:False }}</h3>
                <p>Current Balance</p>
            </div>
            <div class="icon">
                <i class="fa fa-usd"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-4 hidden-xs">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{{ stats.total_accounts }}</h3>
                <p>Accounts</p>
            </div>
            <div class="icon">
                <i class="fa fa-bank"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-4 hidden-xs">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{{ stats.total_transactions }}</h3>
                <p>Transactions</p>
            </div>
            <div class="icon">
                <i class="fa fa-list"></i>
            </div>
        </div>
    </div>
</div>
