{% import 'ledger/macros/util.html' as util %}
{% import 'macros/ui.html' as ui %}

{% set new = ui.button(title='New Invoice', icon='plus', url=url('business:new_invoice')) %}

{##
 # Display invoice status
 #}
{% macro status(invoice) %}
    {% if invoice.status == invoice.DRAFT %}
        <span class="text-muted">
    {% elif invoice.status == invoice.ISSUED %}
        <span class="text-warning">
    {% elif invoice.status == invoice.PAID %}
        <span class="text-success">
    {% else %}
        <span>
    {% endif %}
    {{ invoice.get_status_display() }}
    {% if invoice.status == invoice.DRAFT %}
        &nbsp;
        <span class="fa fa-question-circle" data-toggle="tooltip" title="Invoice has not yet been issued."></span>
    {% elif invoice.status == invoice.ISSUED %}
        &nbsp;
        <span class="fa fa-question-circle" data-toggle="tooltip" title="Invoice has been issued but full payment has not yet been received."></span>
    {% endif %}
    </span>
{% endmacro %}

{% macro _header() %}
    <th>#</th>
    <th>Date</th>
    <th>Client</th>
    <th>Status</th>
    <th class="text-right">Amount</th>
{% endmacro %}

{% macro _data(invoices) %}
    {% for i in invoices %}
        <tr>
            <td>
                <a href="{{ i.get_absolute_url() }}">
                    {{ i }}
                </a>
            </td>
            <td>{{ i.date }}</td>
            <td>{{ i.client }}</td>
            <td>
                {{ status(i) }}
            </td>
            <td class="text-right">{{ util.currency(i.amount) }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">
                <span class="text-muted">
                    No invoices entered
                </span>
            </td>
        </tr>
    {% endfor %}
{% endmacro %}

{##
 # Display a table of invoices
 #}
{% macro list(invoices, title='Invoices', buttons=(new,)) %}
    {# TODO: this will eventually need pagination #}
    {% call ui.box(title=title, icon='file-pdf-o', buttons=buttons) %}
        <table class="table no-margin">
            <thead>
                {{ _header() }}
            </thead>
            <tbody>
                {{ _data(invoices) }}
            </tbody>
        </table>
    {% endcall %}
{% endmacro %}
