{##
 # Render a form
 #   action - HTTP action
 #   method - HTTP method
 #   multipart - render a multipart form
 #}
{% macro form(action='', method='post', multipart=false) %}
    <form action="{{ action }}" method="{{ method }}"{% if multipart %} enctype="multipart/form-data"{% endif %}>
        {% if method == 'post' %}
            {{ csrf_input }}
        {% endif %}
        {{ caller() }}
    </form>
{% endmacro %}

{##
 # Render a form field
 #   field - form to render
 #}
{% macro field(field) %}
    <div class="{% if field|widget_type == 'checkboxinput' %}checkbox{% else %}form-group{% endif %}{% if field.errors %} has-error has-feedback{% endif %}">
        <label for="id_{{ field.name }}" class="control-label">
            {% if field|widget_type == "checkboxinput" %}{{ field }}{% endif %}
            {{ field.label }}
        </label>
        {% if not field|widget_type == "checkboxinput" %}
            {{ field|add_class('form-control')|attr('style:width:100%') }}
        {% endif %}
        {% if field.errors %}
            {% if not field|widget_type == "checkboxinput" %}
                <span class="glyphicon glyphicon-exclamation-sign form-control-feedback"></span>
            {% endif %}
            {% for error in field.errors %}
                <p class="help-block text-danger">
                    <strong>{{ error }}</strong>
                </p>
            {% endfor %}
        {% endif%}
    </div>
{% endmacro %}

{##
 # Render fields in a form
 #   form - form to render fields from
 #   fields - list of fields to render (all by default)
 #}
{% macro fields(form, fields=[]) %}
    {% if not fields %}
        {% set fields = form %}
    {% endif %}
    {% for field_ in fields %}
        {{ field(field_) }}
    {% endfor %}
{% endmacro %}
