{##
 # Display a box
 #   title - title displayed in the box header
 #   icon - icon displayed in box header
 #   buttons - list of buttons to display in the footer
 #}
{% macro box(title, icon, buttons=[]) %}
    <div class="box box-info">

        {# Box header #}
        <div class="box-header with-border">
            <h3 class="box-title">
                <span class="fa fa-{{ icon }}"></span>
                {{ title }}
            </h3>
        </div>

        {# Box content #}
        <div class="box-body">
            {{ caller() }}
        </div>

        {# Box footer #}
        {% if buttons|length %}
            <div class="box-footer clearfix">
                {% for b in buttons %}
                    {{ b }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{##
 # Display a push button
 #   title - label displayed on the button
 #   icon - icon displayed next to the label
 #   url - target location for the button
 #   size - button size
 #   submit - display a submit button instead of a link
 #   right - float the button to the right
 #   icon_right - display the icon to the right of the title
 #}
{% macro button(title, icon, url, size='sm', submit=false, right=false, icon_right=false) %}
    {% set classes = 'btn btn-' + size + ' btn-primary btn-flat' %}
    {% if right %}
        {% set classes = classes + ' pull-right' %}
    {% endif %}
    {% if submit %}
        <button type="submit" class="{{ classes }}">
    {% else %}
        <a href="{{ url }}" class="{{ classes }}">
    {% endif %}
    {% if not icon_right %}
        <span class="fa fa-{{ icon }}"></span>
    {% endif %}
    {{ title }}
    {% if icon_right %}
        <span class="fa fa-{{ icon }}"></span>
    {% endif %}
    {% if submit %}
        </button>
    {% else %}
        </a>
    {% endif %}
{% endmacro %}
