{% extends 'base.html' %}

{% import 'macros/form.html' as form_ with context %}
{% import 'macros/ui.html' as ui %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            {% if description %}
                <p>{{ description }}</p>
            {% endif %}
            {% call form_.form(multipart=form.is_multipart()) %}
                {{ form_.errors(form) }}
                {{ form_.fields(form) }}
                <br>
                <p>
                    {{ ui.button(title='Submit', icon='check', type='submit') }}
                </p>
            {% endcall %}
        </div>
    </div>
{% endblock %}
