{% if not home %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url "home" %}">
                <i class="fa fa-dashboard"></i>
                Dashboard
            </a>
        </li>
        {% for breadcrumb in breadcrumbs %}
            <li>
                {% if breadcrumb|length == 2 %}
                    <a href="{% url breadcrumb.1 %}">{{ breadcrumb.0 }}</a>
                {% else %}
                    <a href="{{ breadcrumb.get_absolute_url }}">{{ breadcrumb }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <li class="active">{{ title }}</li>
    </ol>
{% endif %}
