{% load widget_tweaks %}

<div class="{% if field|widget_type == "checkboxinput" %}checkbox{% else %}form-group{% endif %}{% if field.errors %} has-error has-feedback{% endif %}">
    <label for="id_{{ field.name }}" class="control-label">
        {% if field|widget_type == "checkboxinput" %}{{ field }}{% endif %}
        {{ field.label }}
    </label>
    {% if not field|widget_type == "checkboxinput" %}
        {% if field|field_type == "datetimefield" %}
            <div class="input-group date" data-date-format="YYYY-MM-DD HH:mm:ss" data-date-useSeconds="true">
        {% endif %}
        {% render_field field class+="form-control" placeholder=field.help_text %}
        {% if field|field_type == "datetimefield" %}
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        {% endif %}
    {% endif %}
    {% if field.errors %}
        <span class="glyphicon glyphicon-exclamation-sign form-control-feedback"></span>
        {% for error in field.errors %}
            <p class="help-block text-danger">
                <strong>{{ error }}</strong>
            </p>
        {% endfor %}
    {% endif %}
</div>
