{% load widget_tweaks %}

<div class="{% if field|widget_type == "checkboxinput" %}checkbox{% else %}form-group{% endif %}{% if field.errors %} has-error has-feedback{% endif %}">
    <label for="id_{{ field.name }}" class="control-label">
        {% if field|widget_type == "checkboxinput" %}{{ field }}{% endif %}
        {{ field.label }}
    </label>
    {% if not field|widget_type == "checkboxinput" %}
        {% render_field field class+="form-control" placeholder=field.help_text %}
    {% endif %}
    {% if field.errors %}
        {% if not field|widget_type == "checkboxinput" %}
            <span class="glyphicon glyphicon-exclamation-sign form-control-feedback"></span>
        {% endif %}
        {% for error in field.errors %}
            <p class="help-block text-danger">
                <strong>{{ error }}</strong>
            </p>
        {% endfor %}
    {% endif %}
</div>
