<div class="main-header">
    <a href="{% url "home" %}" class="logo">
        <strong>Numbles</strong>
    </a>
    <div class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas"></a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url "accounts:profile" %}" title="Profile">
                        <i class="fa fa-cog"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a href="{% url "accounts:logout" %}" title="Logout">
                        <i class="fa fa-sign-out"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
