{% load ledger %}

<div class="navbar-default navbar-static-side">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Find transaction...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
                </div>
            </li>
            <li>
                <a href="{% url "home" %}">
                    <i class="glyphicon glyphicon-dashboard"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-th-list"></i>
                    Transactions
                    <span class="glyphicon arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url "ledger:transfer" %}">
                            <i class="glyphicon glyphicon-transfer"></i>
                            Transfer Between Accounts
                        </a>
                    </li>
                    <li>
                        <a href="{% url "ledger:add_transaction" %}">
                            <i class="glyphicon glyphicon-plus"></i>
                            Add Transaction
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-inbox"></i>
                    Accounts
                    <span class="glyphicon arrow"></span>
                </a>
                {% account_sidebar %}
            </li>
        </ul>
    </div>
</div>
