{% load gravatar %}
{% load ledger %}

<div class="main-sidebar">
    <div class="sidebar">

        <!-- Profile box -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ user.email|gravatar }}"
                        class="img-circle"
                        alt="Profile Image">
            </div>
            <div class="pull-left info">
                <p>Nathan Osman</p>
                <p class="text-muted">
                    Balance:
                    <strong>{{ user.total|currency }}</strong>
                </p>
            </div>
        </div>

        <!-- Search box -->
        <form action="#" method="get" class="sidebar-form">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="[not implemented]">
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

        <!-- Transactions -->
        <ul class="sidebar-menu">
            <li class="header">Transactions</li>
            <li>
                <a href="{% url "ledger:transfer" %}">
                    <i class="fa fa-refresh"></i>
                    Transfer Between Accounts
                </a>
            </li>
            <li>
                <a href="{% url "ledger:add_transaction" %}">
                    <i class="fa fa-plus"></i>
                    Add Transaction
                </a>
            </li>
        </ul>

        <!-- Accounts -->
        <ul class="sidebar-menu">
            <li class="header">Accounts</li>
            {% account_sidebar %}
        </ul>
    </div>
</div>
