{% extends 'base.html' %}

{% import 'ledger/macros/transaction.html' as transaction %}
{% import 'macros/form.html' as form_ with context %}
{% import 'macros/ui.html' as ui %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% call form_.form(form) %}
                {% set submit = form_.submit(title='Submit', icon='check') %}
                {% call ui.box(title='Filter', icon='filter', buttons=(submit,)) %}
                    {{ form_.fields(form) }}
                {% endcall %}
            {% endcall %}
        </div>
        {% if transactions %}
            <div class="col-md-8">
                {{ transaction.list(transactions, title='Matched Transactions', fields=('date', 'account', 'summary', 'amount')) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
