{% extends 'base.html' %}

{% import 'ledger/macros/transaction.html' as transaction %}
{% import 'macros/form.html' as form_ with context %}
{% import 'macros/ui.html' as ui %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% call form_.form(method='get') %}
                {% set submit = ui.button(title='Submit', icon='check', submit=true) %}
                {% call ui.box(title='Filter', icon='filter', buttons=(submit,)) %}
                    {{ form_.fields(form) }}
                {% endcall %}
            {% endcall %}
        </div>
        {% if transactions is not none %}
            <div class="col-md-8">
                {{ transaction.list(transactions, title='Matched Transactions', fields=('date', 'account', 'summary', 'amount'), request=request) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
