{% extends 'base.html' %}

{% import 'ledger/macros/transaction.html' as transaction %}
{% import 'ledger/macros/util.html' as util %}
{% import 'macros/form.html' as form_ with context %}
{% import 'macros/ui.html' as ui %}

{# Don't fetch account field if an account was set #}
{% if request.GET.get('account', none) %}
    {% set fields = ('date', 'summary', 'tags', 'reconciled', 'amount', 'balance') %}
{% else %}
    {% set fields = ('date', 'account', 'summary', 'tags', 'reconciled', 'amount', 'balance') %}
{% endif %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            {{ transaction.list(transactions, fields=fields, request=request, sortable=true, paginated=true) }}
        </div>
        <div class="col-md-2">
            {% call ui.box(title='Stats', icon='calculator') %}
                <h3 class="no-top-margin">
                    <small>Number of Transactions</small><br>
                    {{ transactions.count() }}
                </h3>
                <h3>
                    <small>Sum of Transactions</small><br>
                    {{ util.currency(transactions.sum()) }}
                </h3>
            {% endcall %}
            {% call ui.box(title='View', icon='eye') %}
                <div id="columns">
                    Please enable JavaScript to select the columns to display.
                </div>
            {% endcall %}
            {% call ui.box(title='Export', icon='arrow-down') %}
                <p>
                    Use the links below to export transactions:
                </p>
                <a href="{{ url('ledger:export') }}?{{ qs(request, format='csv') }}">CSV</a>
            {% endcall %}
        </div>
        <div class="col-md-3">
            {% call form_.form(method='get') %}
                {% set submit = ui.button(title='Submit', icon='check', type='submit') %}
                {% set reset = ui.button(title='Reset', icon='minus-circle', type='reset') %}
                {% call ui.box(title='Filter', icon='filter', buttons=(submit, reset)) %}
                    {{ form_.fields(form) }}
                {% endcall %}
            {% endcall %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {

            // Remove the JS placeholder and add a <p>
            $('#columns')
            .empty()
            .append('<p>').text("Show columns:");

            // Create a checkbox for each column
            $('.transactions th').each(function() {

                var text = $(this).text(),
                    col = $(this).data('col');
                $('#columns').append(
                    $('<div>')
                    .addClass('checkbox')
                    .append(
                        $('<label>')
                        .addClass('control-label')
                        .append(
                            $('<input>')
                            .attr('type', 'checkbox')
                            .prop('checked', true)
                            .click(function() {
                                $('[data-col=' + col + ']').toggle(
                                    $(this).prop('checked')
                                );
                            })
                        )
                        .append(' ' + text)
                    )
                );
            });

        });
    </script>
{% endblock %}
