{% extends 'base.html' %}

{% import 'ledger/macros/transaction.html' as transaction %}
{% import 'macros/form.html' as form_ with context %}
{% import 'macros/ui.html' as ui %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {{ transaction.list(transactions, fields=('date', 'account', 'summary', 'tags', 'reconciled', 'amount'), request=request, sortable=true, paginated=true) }}
        </div>
        <div class="col-md-4">
            {% call form_.form(method='get') %}
                {% set submit = ui.button(title='Submit', icon='check', type='submit') %}
                {% set reset = ui.button(title='Reset', icon='minus-circle', type='reset') %}
                {% call ui.box(title='Filter', icon='filter', buttons=(submit, reset)) %}
                    {{ form_.fields(form) }}
                {% endcall %}
            {% endcall %}
        </div>
    </div>
{% endblock %}
