{% extends 'base.html' %}

{% import 'ledger/macros/transaction.html' as transaction %}
{% import 'ledger/macros/util.html' as util %}
{% import 'macros/ui.html' as ui %}

{% block content %}
    <div class="box box-info">
        <div id="container" style="width:100%; height:200px;"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% set new = ui.button(title='New Transaction', icon='plus', url="{}?account={}".format(url('ledger:new_transaction'), account.id)) %}
            {{ transaction.list(account.transactions.order_by('-date')[:6], title='Recent Transactions', fields=('date', 'summary', 'amount'), buttons=(new,)) }}
        </div>
        <div class="col-md-6">
            {% set edit = ui.button(title='Edit Account', icon='pencil', url=url('ledger:edit_account', kwargs={'id': account.id})) %}
            {% set delete = ui.button(title='Delete Account', icon='trash', url=url('ledger:delete_account', kwargs={'id': account.id})) %}
            {% call ui.box(title='Account Tools', icon='gears', buttons=(edit, delete)) %}
                <p>Account balance:</p>
                <h3>{{ util.currency(account.balance) }}
            {% endcall %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {

            // Build an array of totals for the months
            var months = [
                {% for m in months %}
                    [{{ m[0] }}, {{ m[1] }}, {{ m[2] }}],
                {% endfor %}
            ];

            // List of month names
            var monthNames = [
                'January',
                'February',
                'March',
                'April',
                'May',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December'
            ];

            // Format a currency value
            function formatCurrency(val) {
                return ((val < 0) ? '-' : '') + '$' + Math.abs(val);
            }

            // Display the chart
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Income by Month'
                },
                xAxis: {
                    categories: $.map(months, function(m) {
                        return monthNames[m[1] - 1] + ' ' + m[0];
                    })
                },
                yAxis: {
                    labels: {
                        formatter: function() {
                            return formatCurrency(this.value);
                        }
                    },
                    title: {
                        text: 'Amount'
                    }
                },
                series: [{
                    data: $.map(months, function(m) {
                        return m[2];
                    }),
                    showInLegend: false
                }],
                tooltip: {
                    pointFormatter: function() {
                        return formatCurrency(this.y);
                    }
                }
            });
        });
    </script>
{% endblock %}
