{% extends 'base.html' %}

{% import 'ledger/macros/transaction.html' as transaction %}
{% import 'macros/ui.html' as ui %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            {% set prev_url = '{}?{}'.format(url('ledger:view_month', args=prev_month), qs(request)) %}
            {% set prev = ui.button(title='Previous', icon='arrow-left', url=prev_url) %}
            {% set next_url = '{}?{}'.format(url('ledger:view_month', args=next_month), qs(request)) %}
            {% set next = ui.button(title='Next', icon='arrow-right', url=next_url, right=true, icon_right=true) %}
            {% set fields = ('date', 'account', 'summary', 'tags', 'reconciled', 'amount', 'balance') %}
            {{ transaction.list(transactions, fields=fields, buttons=(prev, next), balance=balance) }}
        </div>
    </div>
{% endblock %}
